<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>AM</string>
	<string>AZ</string>
	<string>BY</string>
	<string>GE</string>
	<string>KG</string>
	<string>KZ</string>
	<string>MD</string>
	<string>RU</string>
	<string>TM</string>
	<string>TJ</string>
	<string>UA</string>
	<string>UZ</string>
</array>
</plist>
